{% load mptt_tags %}

{% recursetree comments %}
    <div class="media">
        <div class="media-body" id='{{ node.id }}'>
            <span class="comment-info">
              <a href="{% url 'comments:comment-detail' node.id %}">№ {{ node.id }}</a> -- {{ node.created_at }}
                {% if node.can_be_edited and node.author == user %}
                    <a href="{% url 'comments:comment-edit' node.id %}"><i class="fas fa-edit"></i> Изменить текст</a>
                    </span>
                {% endif %}
            <p>{{ node.text }}</p>
            {% include 'files.html' with files=node.files.all editable=node.can_be_edited author=node.author %}
            <a href="{% url 'comments:comment-reply' node.task.id node.id %}">Ответить</a>

            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}

        </div>

    </div>
{% endrecursetree %}