__pycache__/
*.py[cod]
*$py.class
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/
.vscode/
.idea/
.editorconfig
media/*
media-data/
media-files/
dev.env
postgres-data/
media-data
venv
todo.txt