{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="login-form">

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-danger" role="alert">
      У вашего аккаута недостаточно прав. Зайдите с другого аккаунта с требуемым доступом.
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        Войдите в аккаунт.
      </div>
    {% endif %}
{% endif %}


{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Войти</button>
    {% endbuttons %}

    <p><a href="{% url 'password_reset' %}">Восстановить пароль</a></p>
</form>

{% endblock %}