{% load mptt_tags %}

{% recursetree comments %}
  <div class="media">
    <div class="media-body" id='{{ node.id }}'>
      <span class="comment-info"><a
              href="{% url 'tasks:comment-detail' node.id %}">№ {{ node.id }}</a> -- {{ node.author }} -- {{ node.date_time }}</span>
      <p>{{ node.text }}</p>

      {% if object.files.all %}
      <span class="comment-info">Файлы</span><br>
        {% for file in node.files.all %}
          <a href="{{ file.file.file.url }}">{{ file.file.file.name }}</a><br>
        {% endfor %}
      {% endif %}

      <a href="{% url 'tasks:comment-reply' node.task.id node.id %}">Ответить</a>

      {% if not node.is_leaf_node %}
        {{ children }}
      {% endif %}

    </div>

  </div>
{% endrecursetree %}