<div class="mt-5">
  {% if user.is_performer %}
    {% if task_statuses %}
      <ul>
        {% for status in task_statuses %}
          <li>
            {{ status.created }}
            {% if status.type == 'accepted' %}
              Срок выполнения: {{ status.deadline }} Цена: {{ status.price }}
            {% endif %}
             : {{ status.get_type_display }}
          </li>
        {% endfor %}
      </ul>
      {% if not active_status.type == 'rejected' %}
         Заявка не отменена
        {% if not active_status.approved %}
           Заявка требует подтверждения
          <a href="{% url 'tasks:approve-status' task.id %}">Подтвердить</a>
        {% endif %}
         Заявка подтверждена
        <a href="{% url 'tasks:change-status' task.id %}">Изменить</a>
        <a href="{% url 'tasks:reject-task' task.id %}">Отклонить</a>
      {% else %}
         Заявка отменена
        <a href="{% url 'tasks:accept-task' task.id %}">Принять</a>
      {% endif %}
    {% else %}
       Оценки отсутствуют
      <a href="{% url 'tasks:accept-task' task.id %}">Оценить</a>
      <a href="{% url 'tasks:reject-task' task.id %}">Отклонить</a>
    {% endif %}
  {% elif user.is_manager %}
    {% if task_statuses %}
      <ul>
        {% for status in task_statuses %}
          <li>
            {{ status.created }}
            {% if status.type == 'accepted' %}
              Срок выполнения: {{ status.deadline }} Цена: {{ status.price }}
            {% endif %}
             : {{ status.get_type_display }}
            {% if status.approved %}
              {% if status.is_actual %}
                {# Только что созданная оценка попадает сюда #}
                <a href="{% url 'tasks:put-to-work' task.id status.id %}">Принять в работу</a>
              {% else %}
                {# Не актуальная оценка, у которой не было изменений в течении 72 часов#}
                {# Попадает сюда - по умолчанию принята, но не актуальна#}
                <a href="{% url 'tasks:check-actuality' status.id %}">Проверить актуальность</a>
              {% endif %}
            {% else %}
              {# Не принятые заявки ждут подтверждения не имеет значения актуальна или нет #}
              Ожидание подтверждения
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <a href="">Удалить заявку</a>
  {% endif %}
</div>
{##}
{#{% if not task.performer_chosen %}#}
{#  <h3 class="mt-5">Оценки исполнителей</h3>#}
{#  {% if perms.tasks.can_put_to_work and user == object.author %}#}
{#    {% for status in object.task_statuses.all %}#}
{#      {% if status.price is None and status.deadline is None %}#}
{#        <p>Отклонена {{ status.last_modified }}</p>#}
{#      {% else %}#}
{#        <p>#}
{#          {{ status.last_modified }} Цена: {{ status.price }} Срок выполнения: {{ status.deadline }}#}
{#          {% if status.is_actual %}#}
{#            <a href="{% url 'tasks:put-to-work' object.id status.id %}">Отдать в работу</a>#}
{#          {% else %}#}
{#            <a href="{% url 'tasks:check-actuality' task_status.id %}">Проверить актуальность</a>#}
{#          {% endif %}#}
{#        </p>#}
{#      {% endif %}#}
{#    {% endfor %}#}
{#  {% else %}#}
{#    {% if task_statuses %}#}
{#      {% for task_status in task_statuses %}#}
{#        <p>{{ task_status.last_modified }} Цена: {{ task_status.price }} Срок выполнения: {{ task_status.deadline }}#}
{#          {% if task_status.is_actual %}#}
{#            Заявка актуальна#}
{#          {% else %}#}
{#            <a href="{% url 'tasks:approve-task-status' task_status.id %}">Подтвердить актуальность</a>#}
{#          {% endif %}#}
{#        </p>#}
{#      {% endfor %}#}
{#    {% endif %}#}
{#  {% endif %}#}
{#{% else %}#}
{#  <h3>Исполнитель выбран. {{ task.get_task_status.user }}</h3>#}
{#  <p>Цена: {{ task.get_task_status.price }} Срок выполнения: {{ task.get_task_status.deadline }}</p>#}
{#{% endif %}#}