{% extends 'base.html' %}

{% block content %}
  <h3>{{ object.name }}</h3>
  <p>{{ object.text }}</p>
  <p class="taks-files">
    {% for file in object.files.all %}
    <a href="{{ file.file.file.url }}">{{ file.file.file.name }}</a><br>
    {% endfor %}
  </p>
  <hr>

  <a href="{% url 'comments:comment-create' object.id %}">Добавить комментарий</a><br>
  Взять в работу?<br>
  <a href="{% url 'tasks:accept-task' object.id %}" class="btn btn-success">Принять</a>
  <a href="" class="btn btn-danger">Отклонить</a>
  {% include 'tasks/../../../comments/templates/comments/comment.html' %}

{% endblock content %}