{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Добавить</button>
    {% endbuttons %}
  </form>
  <script>
  $(function () {
    const date_input = $("#id_wanted_deadline");
    date_input.attr('autocomplete', 'off');
    date_input.datepicker({
      format:'dd/mm/yyyy',
      weekStart: 1,
      startDate: new Date(),
      language: 'ru-RU'
    });
  });
  </script>
{% endblock content %}

