{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/styles.css' %}">
{% endblock head %}

{% block content %}
  <h3>Page header</h3>

  <nav class="nav">
    <a class="nav-link" href="{% url 'tasks:filter-task-status' 'new' %}">Новые</a>
    <a class="nav-link" href="{% url 'tasks:filter-task-status' 'rated' %}">Оцененные</a>
    <a class="nav-link" href="{% url 'tasks:filter-task-status' 'rejected' %}">Отклоненные</a>
  </nav>


  {% for task in object_list %}
    <div class="task-list">
      <div class="media">
        <div class="media-body">
          <a href="{% url 'tasks:task-detail' task.id %}"><h5 class="mt-0">{{ task.name }}</h5></a>
          <p><a href="{% url 'tasks:task-detail' task.id %}">#{{ task.id }}</a> {{ task.created_at }} -- {{ task.author }}</p>{{ task.text|truncatechars:50 }}
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}