<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dynamics 365</title>

  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/styles.css' %}">
  {% block head %}
  {% endblock head %}
</head>
<body>
  {% include 'navbar.html' %}

  <div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
    {% block content %}
    {% endblock content %}
  </div>

</body>
</html>
