<span class="extra-info">Файлы</span><br>
{% if files %}
    {% for file in files %}
        <div class="file">
            {% if editable and author == user %}
                <a onclick="delete_file_ajax('{% url 'tasks:delete-file' file.file.id %}', $(this));"><i
                        class="fas fa-times"></i></a>
            {% endif %}
            <a href="{{ file.file.file.url }}">{{ file.file.file.name }}</a>
            <span>
    {% if editable and author == user %}
        <input type="text" class="file-comment" id="{{ file.file.id }}" value="{{ file.file.comment }}">
        <span id="saved-{{ file.file.id }}" class="file-comment-saved">Сохранено</span>
        {#    {% if file.file.comment %}#}
        {#        <a href="{% url 'tasks:update-file-comment' file.file.id %}" class="file-comment">Изменить комментарий файла</a>#}
        {#    {% else %}#}
        {#        <a href="{% url 'tasks:update-file-comment' file.file.id %}" class="file-comment">Добавить комментарий к файлу</a>#}
        {#    {% endif %}#}
    {% else %}
        <input type="text" class="file-comment" id="{{ file.file.id }}" value="{{ file.file.comment }}" disabled>
    {% endif %}
    </span>
        </div>
    {% endfor %}
{% endif %}
{% if editable %}
    <a href="#">Добавить файлы</a>
{% endif %}
<br>