<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="{% url 'tasks:task-list' %}">ОАО Рога и копыта</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% if user.is_authenticated %}
        {% if user.is_manager %}
          `
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:task-create' %}">
              <i class="fas fa-plus"></i> Создать Заявку</a>
          </li>
        {% endif %}
        {% load notifications_tags %}
        {% notifications_unread as unread_count %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:account' user.id %}"><i
            class="fas fa-user"></i> {{ user.get_full_name }}</a>
        </li>

        <li class="nav-item text-light">
          <a href="{% url 'users:notification-list' %}" class="nav-link"><i
            class="fas fa-bell"></i> {% live_notify_badge badge_class="badge badge-primary" %} Уведомления</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти</a>
        </li>
      {% endif %}
    </ul>

    {% if user.is_authenticated %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'tasks:task-list' %}" method="get">
        <input class="form-control mr-sm-2" id="search-field" type="search"
               placeholder="Для поиска по номеру заявки начинайте с символа #" aria-label="Search" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    {% endif %}
  </div>
</nav>
