{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
  {% for object in object_list %}
    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">Ответ на комментарий <a href="{% url 'comments:comment-detail' object.action_object.parent.id %}">{{ object.action_object.parent.id }}</a> на заявку
          <a href="{% url 'tasks:task-detail' object.target.id %}">#{{ object.target.id }}</a></h5>
        <p>Пользователей {{ object.actor }} пишет: {{ object.action_object.text }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}