{% extends 'base.html' %}
{% load auth_extras %}

{% block head %}

{% endblock %}

{% block content %}
  {% if object_list %}
    <a href="{% url 'users:mark-notifications-as-read' %}">Отметить все как прочитанные</a>
  {% else %}
    Уведомлений нет
  {% endif %}

  {% for object in object_list %}
    <div class="media">
      <a href="{% url 'comments:comment-detail' object.action_object.id %}">
        {% if object.actor.is_manager %}
        Менеджер
      {% else %}
        Исполнитель {{ object.actor }}
      {% endif %}
      {{ object.verb }}
      {{ object.action_object.text }}
      </a>
    </div>
  {% endfor %}
{% endblock %}