@charset "UTF-8";
@import "../../../crm-front/fonts/helvetica_neue_cyr.css";
body {
  background-color: #FAFAFA;
  font-family: helvetica;
  color: #466DA6;
  @import "../fonts/helvetica_neue_cyr.css";
}
body header {
  font-family: helvetica;
  width: auto;
  display: flex;
}
body header .left-block {
  display: flex;
  position: absolute;
  left: 48px;
}
body header .left-block .brand {
  width: 256px;
  margin-top: 8px;
}
body header .left-block .brand a {
  color: #FAFAFA;
}
body header .left-block .search-input {
  position: relative;
  left: 0;
  outline: none;
  width: 460px;
}
body header .user-actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 50px;
}
body header .user-actions .svg-user {
  padding-left: 1em;
}

a, a:visited {
  color: #466DA6;
}

#container {
  width: 1300px;
  margin: 50px;
}

main {
  display: flex;
}
main .sidebar {
  width: 255px;
  flex-direction: column;
}
main .sidebar .title {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #466DA6;
}
main .sidebar .status-nav {
  margin-top: 2em;
  margin-bottom: 2em;
}
main .sidebar .status-nav .status-links {
  display: flex;
  text-decoration: none;
}
main .sidebar .status-nav .status-links .status {
  width: 32px;
  height: 32px;
}
main .sidebar .status-nav .status-links .status-img {
  width: 16px;
  height: 16px;
  margin: 8px;
}
main .sidebar .status-nav .status-links .status-is-rated-active {
  background-color: #DA867B;
  border-radius: 50%;
}
main .sidebar .status-nav .status-links .status-is-rated-active .status-tick {
  background: url(../../../crm-front/img/onАssessment1.svg) no-repeat;
  background-size: 16px;
}
main .sidebar .status-nav .status-links .status-in-progress-active {
  background-color: #DA867B;
  border-radius: 50%;
}
main .sidebar .status-nav .status-links .status-in-progress-active .status-clock {
  background: url(../../../crm-front/img/clock1.svg) no-repeat;
  background-size: 16px;
}
main .sidebar .status-nav .status-links .status-is-rated .status-tick {
  background: url(../../../crm-front/img/onАssessment2.svg) no-repeat;
  background-size: 16px;
}
main .sidebar .status-nav .status-links .status-in-progress .status-clock {
  background: url(../../../crm-front/img/clock2.svg) no-repeat;
  background-size: 16px;
}
main .sidebar .status-nav .status-links .status-text {
  padding-top: 8px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #466DA6;
  text-decoration: none;
}
main .content .header {
  font-size: 22px;
  display: flex;
}
main .content .header .title-container .title {
  margin-bottom: 50px;
  font-weight: 550;
}
main .content .header .title-container .new {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
main .content .header .title-container .new img {
  margin-left: 5px;
}
main .content .header .title-container ul {
  list-style: none;
  margin-bottom: 50px;
}
main .content .header .title-container li {
  margin-right: 50px;
  display: inline;
}
main .content .header .title-container .active {
  color: #DA867B;
}
main .content .header .number-of-notificatoin {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 290px;
  height: 40px;
  padding: 15px;
  display: flex;
  margin-left: 250px;
}
main .content .header .number-of-notificatoin .number {
  display: inline-block;
  font-size: 16px;
  line-height: 150%;
  color: #596C77;
  margin-left: 1em;
  margin-top: 8px;
}
main .content .header .number-of-notificatoin .not {
  display: inline-block;
  font-size: 16px;
  line-height: 150%;
  margin-left: 5px;
  margin-top: 8px;
}
main .content .notification {
  display: flex;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 92%;
}
main .content .notification .comment-container {
  margin-left: 1em;
}
main .content .notification .comment-container .comment {
  font-weight: 550;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0.5px;
  color: #596C77;
}
main .content .notification .comment-container .app {
  font-weight: 550;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0.5px;
  color: #466DA6;
}
main .content .notification .comment-container .date {
  font-weight: 550;
  font-size: 14px;
  line-height: 142%;
  color: #AEB8BC;
}

#pagination {
  margin-top: 50px;
  list-style: none;
}
#pagination ul li {
  display: inline;
  font-size: 20px;
  margin-left: 4px;
}
#pagination ul .active {
  padding: 10px;
  background-color: #60BC87;
  color: #fff;
  border-radius: 4px;
}